
@{
    ViewBag.Title = "Index";
}
 
            <p class=" texto"> Catalogo de Cuadros</p>
            <table>

                <tbody id="imagenes ">
                    <tr><td div class="imagenes"><img src="~/Content/image/1.jpg"></td><td><img src="~/Content/image/2.jpg"></td><td><img src="~/Content/image/3.jpg"></td></tr>
                    <tr><td div class="imagenes"><img src="~/Content/image/4.jpg"></td><td><img src="~/Content/image/5.jpg"></td><td><img src="~/Content/image/6.jpg"></td></tr>

                    <tr> <td div class="imagenes"><img src="~/Content/image/7.jpg"></td></tr>

                    <tr> <td div class="imagenes"><img src="~/Content/image/7.jpg"></td></tr>


                </tbody>


            </table>
    

