
@{
    ViewBag.Title = "Index";
}


<div class="datagrid">
    <div class="tabla">
        <table>

            <tbody id="imagenes ">
                <tr><td div class="carta"><img src="~/Content/image/1.jpg"></td><td><img src="~/Content/image/2.jpg"></td><td><img src="~/Content/image/3.jpg"></td><td><img src="~/Content/image/4.png"></td></tr>
                <tr><td div class="carta"><img src="~/Content/image/5.jpg"></td><td><img src="~/Content/image/6.jpg"></td><td><img src="~/Content/image/7.png"></td><td><img src="~/Content/image/8.jpg"></td></tr>
                <tr><td div class="carta"><img src="~/Content/image/9.jpg"></td><td><img src="~/Content/image/10.png"></td><td><img src="~/Content/image/11.png"></td><td><img src="~/Content/image/12.jpg"></td></tr>
                <tr><td div class="carta"><img src="~/Content/image/13.jpg"></td><td><img src="~/Content/image/14.png"></td><td><img src="~/Content/image/15.jpg"></tr>
            </tbody>


        </table>
    </div>
    <aside>
        <div class="lateral">
            <p class=" texto"> Cuadros Destacados </p>

            <table>
                <tr>
                    <td><img class="imagenes" src="~/Content/image/1.jpg"></td>
                </tr>
                <tr>
                    <td><img class="imagenes" src="~/Content/image/2.jpg"></td>
                </tr>
                <tr>
                    <td><img class="imagenes" src="~/Content/image/3.jpg"></td>
                </tr>

            </table>
        </div>
    </aside>
</div>